.*
*.log
node_modules/
dist/*.html
dist/nohup.out
dist/js/main.js
dist/static/
var/
*.swp
nohup.out
!.gitignore
!.babelrc
!dist/css
!dist/fonts
!dist/js/bootstrap.js
!dist/js/bootstrap.min.js
!dist/js/npm.js
